<h1><a href="/memos">メモアプリ</a></h1>

<form method="post" action="/memos/<%= @memo.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="id" value="<%= @memo.id %>">

  <div>
    <input type="text" name="title" value="<%= escape(@memo.title) %>" placeholder="タイトル">
  </div>
  <div>
    <textarea name="content" rows="5" placeholder="メモ"><%= escape(@memo.content) %></textarea>
  </div>
  <div>
    <input type="submit" value="更新">
  </div>
</form>
