<h1><a href="/memos">メモアプリ</a></h1>

<% @memos.each do |memo| %>
  <ul>
    <li><a href="/memos/<%= memo.id %>"><%= escape(memo.title) %></a></li>
  </ul>
<% end %>

<button onclick="location.href='/memos/new'">追加</button>
